{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="container">
    {% for cle in info %}
         <p>{{cle.nom}}</p>
         <p>{{cle.prenom}}</p>
    {% endfor %}
  </div>
  {% for key in article %}
  <p>{{key.articlename}}</p>
  {% endfor %}
{% endblock %}
